<ul>
<% @subjects.each do |subject| %>
  <li><%= link_to subject.name, subject_path(subject) %> <%= link_to 'Borrar', subject_path(subject), method: :delete %></li>
<% end %>
</ul>

<%= button_to 'Añadir asignatura', new_subject_path, method: :get %>