<div class="row">
  <h1><%= @subject.name %><small><small>[<%= link_to 'Editar', edit_subject_path(@subject) %>]</small></small></h1>
  <ul class="disc">
  	<li><%= @course.name %></li>
  </ul>
</div>