<div class="row">
  <h1><%= @subject.name %><small><small>[<%= link_to 'Editar', edit_subject_path(@subject) %>]</small></small></h1>
  <ul class="disc">
  <% @subject.courses.each do |course| %>
  	<li><%= course.name %></li>
  <% end %>
  </ul>

  <%= button_to 'Crear curso', new_subject_course_path(@subject), method: :get %>
</div>