<h1><%= @course.name %>
<% if current_user %>
  <small><small>[<%= link_to 'Editar', edit_subject_course_path(@subject, @course) %>]</small></small>
<% end %>
</h1>

<%= render 'posts' %>

<%= button_to 'Crear publicación', new_subject_course_post_path(@subject, @course), method: :get %>