<ul>
  <li><%= @user.email %></li>
  <li><%= @user.username %></li>
  <li><%= @user.last_sign_in_at %></li>
  <% if !@user.roles.blank? %>
    <li>Roles
    <ul><% @user.roles.each do |role| %>
      <li><%= role.name %></li>
      <% end %>
    </ul>
  </li>
  <% else %>
  <li> Alumno</li>
  <% end %>
</ul>